/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-size: 100%; /* Ajuste para manter 1rem = 16px */
  }
  
  body {
    font-family: Arial, sans-serif; /* Substitua pelo seu font-stack preferido */
    line-height: 1.5;
    background-color: #fff;
    color: #000;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
  }
  
  